<%- include('partials/head') %> 
<main>
    <div class="container">
        <h1>Nieuw gerecht</h1>
        <form class="new-form" action="/dish/new" method="POST">
            <div class="form-element">
                <label for="course">Gang:</label>
                <select name="course" id="course" required>
                    
                    <option value="voorgerecht" <%= type === 'voorgerecht' ? 'selected' : '' %>>Voorgerecht</option>
                    <option value="hoofdgerecht" <%= type === 'hoofdgerecht' ? 'selected' : '' %>>Hoofdgerecht</option>
                    <option value="dessert" <%= type === 'dessert' ? 'selected' : '' %>>Dessert</option>
                </select>
            </div>
            <div class="form-element">
                <label for="name">Naam:</label>
                <input type="text" name="name" id="name" required>
            </div>
            <div class="form-element">
                <label for="ingredients">Ingrediënten:</label>
                <div class="ingredients-list">
                    <div class="ingredients-input" data-ingredient="1">
                        <input type="text" name="ingredients[]" placeholder="een ingrediënt" id="ingredients" required>
                        <button class="add-ingredient" title="Ingrediënt toevoegen"><i class="fas fa-plus-circle"></i></button>
                    </div>
                </div>
            </div>
            <div class="form-element">
                <label for="price">Prijs:</label>
                <input type="number" name="price" id="price" step="0.05" required>
            </div>
            <button class="btn-submit">Toevoegen</button>
        </form>
        
<%- include('partials/footer') %> 


<script src="../js/new.js"></script>
</body>
</html>
